<%= form_with(model: topic) do |form| %>
<% if topic.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% topic.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :subject_id, class: label_class %>
         <%= form.select :subject_id, options_from_collection_for_select(Subject.all, 'id', 'name', selected = topic.subject_id), class: label_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if topic.persisted? %>
<%= link_to "Cancel", topic, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", topics_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
