<div id="<%= dom_id reader %>">
  <p>
    <strong>Name:</strong>
    <%= reader.name %>
  </p>

  <p>
    <strong>Book borrowed:</strong>
    <%= reader.book_borrowed %>
  </p>

  <p>
    <strong>Borrowed at:</strong>
    <%= reader.borrowed_at %>
  </p>

  <p>
    <strong>Return at:</strong>
    <%= reader.return_at %>
  </p>

</div>
